<html>
  <head>
    <base href="/">
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'javascripts-head.html' %}
    {% include 'stylesheets.html' %}

  </head>

  <!-- 3. Display the application -->
  <body>
    <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view"></div>
    </div>
  </div>
    <my-app>Loading...</my-app>
    {% include 'javascripts-body.html' %}
  </body>
</html>
