{% load compress %}
{% load staticfiles %}

{% compress js %}
    <!-- 1. Load libraries -->
    <!-- Polyfill for older browsers -->
    <script src="{% static 'node_modules/core-js/client/shim.min.js' %}"></script>

    <script src="{% static 'node_modules/zone.js/dist/zone.js' %}"></script>
    <script src="{% static 'node_modules/reflect-metadata/Reflect.js' %}"></script>
    <script src="{% static 'node_modules/systemjs/dist/system.src.js' %}"></script>

    <!-- 2. Configure SystemJS -->
    <script src="{% static 'systemjs.config.js' %}"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
{% endcompress %}
