<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is the hero!
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<h2>Registered Heroes</h2>
<!-- <div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div> -->
<ul class="heroes">
  <li *ngFor="let hero of heroes"
  	[class.selected]="hero === selectedHero"
  	(click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    <!-- $event.stopProagation will stop the click event passing through to the button underneath -->
    <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>