<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.fave_hero | uppercase}}
  </h2>
  <p>Has the superpower <span class="super_power">{{selectedHero.super_power}}</span></p>
  <button (click)="gotoDetail()">View Details</button>
</div>
<h2>Registered Heroes</h2>

<!-- <div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div> -->

<ul class="heroes">
  <li *ngFor="let hero of heroes"
  	[class.selected]="hero === selectedHero"
  	(click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.fave_hero}}
    <!-- the $event.stopProagation will stop the click event passing through to the button underneath -->
    <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>

<p>{{count}} heroes registered</p>

